<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cUrl_Native_MSVC1936" version="8.1.2.9" targetFramework="net461" />
  <package id="DotSpatial.GeoAPI" version="1.7.4.3" targetFramework="net461" developmentDependency="true" />
  <package id="DotSpatial.NetTopologySuite" version="1.14.4" targetFramework="net461" developmentDependency="true" />
  <package id="expat_Native_MSVC1936" version="2.5.0.9" targetFramework="net461" />
  <package id="FileGDB_Native_MSVC1936" version="1.5.2" targetFramework="net461" />
  <package id="freexl_Native_MSVC1936" version="1.0.6.9" targetFramework="net461" />
  <package id="gdal_MSVC1936" version="3.3.1.7" targetFramework="net461" />
  <package id="gdal_MSVC1936_wrap" version="3.3.1.7" targetFramework="net461" />
  <package id="gdal_Native_MSVC1936" version="3.3.1.7" targetFramework="net461" />
  <package id="geos_c_Native_MSVC1936" version="3.9.4.8" targetFramework="net461" />
  <package id="geos_Native_MSVC1936" version="3.9.4.8" targetFramework="net461" />
  <package id="iconv_Native_MSVC1936" version="1.16.1.7" targetFramework="net461" />
  <package id="libpq_Native_MSVC1936" version="12.17.0.11" targetFramework="net461" />
  <package id="libtiff_Native_MSVC1936" version="4.5.0.9" targetFramework="net461" />
  <package id="libxml2_Native_MSVC1936" version="2.9.9.12" targetFramework="net461" />
  <package id="proj4_Native_MSVC1936" version="9.2.1.12" targetFramework="net461" />
  <package id="spatialite_Native_MSVC1936" version="5.0.1.19" targetFramework="net461" />
  <package id="sqlite_Native_MSVC1936" version="3.42.0.7" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net461" developmentDependency="true" />
  <package id="ZLib_Native_MSVC1936" version="1.3.1.10" targetFramework="net461" />
</packages>